{% extends "base/index.html" %}
{% load crispy_forms_tags %}
{% block main %}
{% if form.errors %}
<div class="alert alert-danger">
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn w-100 btn-primary">submit</button>
        <center><p class="small">Already have an account <a href="{% url 'login' %}">Login</a></p></center>
    </form>
{% endblock %}